<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1Ijoidm9yb25vZmYyODAzIiwiYSI6ImNrdjJ4OG5sdzBnb2IybnMzNmlxZ2x3Y3UifQ.CQ5g-rujMhvcFeHawuYnwA</string>
</dict>
</plist>
